<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='favicon/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='favicon/site.webmanifest') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap" rel="stylesheet">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <nav class="navbar">
        <div class="navbar-content">
            <div class="navbar-logo">Habeeb Salami</div>
            <div class="navbar-links">
                <a href="{{ url_for('homepage') }}" class="nav-item {{ 'active' if request.endpoint == 'homepage' }}">Home</a>
                <a href="{{ url_for('about_page') }}" class="nav-item {{ 'active' if request.endpoint == 'about_page' }}">About</a>
                <a href="{{ url_for('contact_page') }}" class="nav-item {{ 'active' if request.endpoint == 'contact_page' }}">Contact</a>
                <a href="https://drive.usercontent.google.com/u/0/uc?id=1oPbSkzX9z-uNL9d-2oa--UAt95OsxPw5&export=download" class="nav-item" download>Get Resume</a>
            </div>
        </div>
    </nav>
    {% block content %}{% endblock %}
</body>
</html>